
  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Roboto+Mono:wght@300&display=swap');

body{
    background-color: rgb(14, 42, 66);
 
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Inconsolata', monospace;
    
}
nav ul{
    display: flex;
    align-items: center;
    
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding-left:12px;
    padding-right: 12px;
}
.brand img{
    width: 44px;
    padding-left: 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container h1{
    font-size: 1.5rem;
    text-align: left;
    margin-left: 18px;
    margin-top: 20px;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-radius: 12px;
    background-image: url('bgc4.jpg');
    background-size: cover;
    
}
.bottom{
    position: sticky;
    height: 101px;
    color: white;
    background-color:black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 60vw;
    cursor: pointer;
}
.fas{
    font-size: 1.5rem;
}
.songlist{
    
}
.songitemcontainer{
    margin-top: 10%;
}
.songitem img{
width: 34px;
margin: 0 13px;
border-radius: 35px;
}
.songitem{
height: 35px;
display: flex;
background-color: white;
color: black;
margin-top: 15px;
margin-left: 17px;
align-items: center;
justify-content: space-between;
border-radius: 34px; ;
opacity: 60%;
}
.songitem:hover{
    opacity: 100%;
}
.songitem:on-click{
    opacity: 100%;
}
.timestamp{
margin: 0 23px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 20vw;
}
.songinfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}